<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Aaliyah Reid</h1>
 <p>Hello! I'm currently in my second year of studying Computer Science, with a keen focus on mobile and web development.
     Additionally, I'm a visual artist who primarily works with acrylic paint on canvas.
      My artistic journey has led me to explore both portrait and landscape painting, 
      though I have a special preference for portrait painting due to its challenging nature and the deep sense of fulfillment it brings.
       Outside of my academic and artistic pursuits, I enjoy diving into thriller novels and playing the guitar.</p>
</body>
</html> 